body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #303e73;
}

#apagada {
    width: 400px;
    height: 500px;
    background-repeat: no-repeat;
}

.off {
    background-image: (url("./img/off_bulb.svg"));
}

.on {
    background-image: url("./img/on_bulb.svg");
}
