*{
    list-style: none;
    text-decoration: none;color: inherit;
    font-family: 'IBM Plex Sans', sans-serif;
    
}

body{
    display: flex;
    align-self: center;
    justify-content: center;
    margin-top: 150px;
    background-color:rgb(232, 222, 222)
}

main{
    padding: 50px;
    background-color: beige;
    width: 300px;
    height: 400px;
}

p{
    display:inline-block;
    padding: 10px;
    margin-left: 40px;


}

button{
    display: flex;
}